.lap {
  margin: 3rem 1rem 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.lap__table {
  // Reset table style to collapse table borders
  // and size columns according to the width of
  // their headings.
  table-layout: fixed;
  min-width: 18rem;
  border-collapse: collapse;

  * {
    font: var(--table);
  }
}

.lap__thead {
  color: var(--green);
  border-bottom: 1px solid rgba(128, 128, 128, 0.4);
}

.lap__th--label {
  width: 14%;
}

.lap__th--lap-time {
  width: 43%;
}

.lap__th--total-time {
  width: 43%;
}

.lap__th {
  padding: 0.7rem 0;
}

.lap__td {
  padding-top: 0.5rem;
}

@media (min-width: 400px) {
  .lap {
    --table: 300 1rem var(--font);
  }
}

@media (min-width: 530px) {
  .lap {
    --table: 300 1.1rem var(--font);
  }
}

@media (min-width: 700px) {
  .lap {
    align-items: flex-start;
    margin-left: 0;
    text-align: left;
    --table: 300 1.2rem var(--font);
  }

  .lap__table {
    min-width: 30rem;
  }

  .lap__th--label {
    width: 20%;
  }

  .lap__th--lap-time {
    width: 40%;
  }

  .lap__th--total-time {
    width: 40%;
  }
}

@media (min-width: 1000px) {
  .lap {
    margin-top: 4rem;
  }
}
