.controls__button {
  height: 3.8rem;
  width: 3.8rem;
  border-radius: 50%;
  border: none;
  text-align: center;
  color: var(--black);
  font: var(--button);
  transition: background-color 0.1s ease-out;
}

.controls__button--gray {
  background: var(--gray);

  &:hover {
    background: var(--dark-gray);
  }
}

.controls__button--red {
  background: var(--red);

  &:hover {
    background: var(--dark-red);
  }
}

.controls__button--yellow {
  background: var(--yellow);

  &:hover {
    background: var(--dark-yellow);
  }
}
