.controls__button {
  height: 3.8rem;
  width: 3.8rem;
  border-radius: 50%;
  border: none;
  text-align: center;
  color: var(--black);
  font: var(--button);
  transition: background-color 0.1s ease-out;
  margin: 0 0.8rem;
}

.controls__button--gray {
  background: var(--gray);

  &:hover,
  &:focus-visible {
    background: var(--dark-gray);
  }
}

.controls__button--red {
  background: var(--red);

  &:hover,
  &:focus-visible {
    background: var(--dark-red);
  }
}

.controls__button--yellow {
  background: var(--yellow);

  &:hover,
  &:focus-visible {
    background: var(--dark-yellow);
  }
}

@media (min-width: 400px) {
  .controls__button {
    height: 4.1rem;
    width: 4.1rem;
    margin: 0 1.2rem;
    --button: 600 1rem var(--font);
  }
}

@media (min-width: 530px) {
  .controls__button {
    height: 4.4rem;
    width: 4.4rem;
    --button: 600 1.1rem var(--font);
  }
}

@media (min-width: 700px) {
  .controls__button {
    height: 4.7rem;
    width: 4.7rem;
    margin: 0 2rem 0 0;
    --button: 600 1.2rem var(--font);
  }
}
