.controls__button .button__elem {
  height: 3.8rem;
  width: 3.8rem;
  border-radius: 50%;
  border: none;
  text-align: center;
  color: var(--black);
  font: var(--button);
  transition: background-color 0.1s ease-out;
}

.controls__button--gray .button__elem {
  background: var(--gray);

  &:hover,
  &:focus-visible {
    background: var(--dark-gray);
  }
}

.controls__button--red .button__elem {
  background: var(--red);

  &:hover,
  &:focus-visible {
    background: var(--dark-red);
  }
}

.controls__button--yellow .button__elem {
  background: var(--yellow);

  &:hover,
  &:focus-visible {
    background: var(--dark-yellow);
  }
}
