.lap__button {
  display: flex;
  justify-content: flex-end;
  padding: 1.5rem 1rem;
}

.lap__button .button__elem {
  border: none;
  color: var(--black);
  font: var(--table);
  font-weight: 600;
  background: var(--green);
  padding: 0.2rem 0.3rem;
  transition: background-color 0.1s ease-out;

  &:hover,
  &:focus-visible {
    background: var(--dark-green);
  }
}
